.base {
	display: flex;
	align-items: center;    
  justify-content:center;
}
.base ul {
	display: flex;
  list-style-type: none; 
}
.base li {
	margin: 0 10px;   
}
.base a {
	color: #e7e3e3;
	background-color: #4CAF50;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  text-decoration:none;
	font-size: 16 px;
}
header {
	background-color:black;
	color: #e7e3e3; 
}
body {
	margin: 0;
	padding: 0;
	font-family: Garamond,serif; 
  background-color:#333;
}
.wel{
  color:white;
  font-size:30px;   
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;    
}
nav img {
	height: 50px;
}
nav ul {
	display: flex;
  list-style-type: none; 
}
nav li {
	margin: 0 10px;   
}
nav a {
	color: #e7e3e3;
	background-color: #ff5722;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  text-decoration:none;
	font-size: 16 px;}
/*===============Footer===================*/
.footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.footer::before {
  position: absolute;
  content: "";
  display: block;
  background-color: rgba(29, 86, 84, 0.8);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.footer .links {
  position: relative;
  color: #fff;
  flex: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.links ul {
  list-style-type: none;
  display: block;
  margin-bottom: 10px;
}
.links h3 {
  font-family: Barlow Condensed;
  font-weight: normal;
  font-size: 23px;
  margin-bottom: 15px;
}
.links li {
  font-family: Roboto;
  cursor: pointer;
  padding: 15px 0;
  display: block;
  margin-bottom: 10px;
}
.links a{
    color:#F0F8FF;
    text-decoration:none;
}
.links li:hover {
  color: #ffa801;
}
@media all and (max-width: 708px) {
  .footer {
    width: 100%;
    height: 670px;
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
footer {
	background-color: #494545;
	color: #fff;
	text-align: center;
	padding: 20px;
}
footer p {
	margin: 0;
}
/*===============login===================*/
#text{

    height: 25px;
    border-radius: 5px;
    padding: 4px;
    border: solid thin #aaa;
    width: 100%;
}

#button{
    font-size: larger;
    display: block;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100px;
    color: white;
    background-color: rgb(26, 61, 72);
    border: none;
}

#box{

    background-color: grey;
    margin: auto;
    width: 300px;
    padding: 20px;
}